h1 {
	color:yellow;
	background-color:blue;
	font-size:40px;
}
p-header {
	background-color:blue;
}
html {
	background:red;
}
h2{
}
ul {
	background-color: red;
}
footer{
	background-color: blue;
}
body {
	background-color: white;
}
