
html { 
	text-align: center;
	border: 20px powderblue; 
	border-style:dotted solid double dashed;
	background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/b/bc/Garfield_the_Cat.svg/1280px-Garfield_the_Cat.svg.png);
	background-size: 300px 200px
	
	
}
h1 {
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-size:40px;
	color: lightCyan;

}
h2 { 
	color: purple;
	font-size: 40px;
	font-family:"Comic Sans MS", cursive, sans-serif;
	
}
p { 
	color: violet;
	font-size:30px;
	font-family:"Comic Sans MS", cursive, sans-serif;
	padding-bottom: 30px
}
body {
	background-image: url(http://www.intrawallpaper.com/static/images/abstract-mosaic-background.png);
	background-size: 1700px 500px;
	background-repeat: no-repeat;
}




   

